repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        name: gitleaks (prevent committing secrets)
        args: ["protect", "--staged", "--verbose", "--redact"]
        stages: [commit]
